{% extends 'trimgif/base.html' %}
{% block content %}
<form method="get" action="">
 <input type="text" name="query" value="{{request.GET.query}}">
 <input type="submit" value="Search">
</form>

<table border="1px">
{% for quote in results %}
<tr>
<td>{{forloop.counter}}</td>
<td>
{% for line in quote.data %}
{{ line.content }}<br>
{% endfor %}
</td>
<td>
<a href="{% url 'trimgif:edit' %}?start={{quote.start}}&end={{quote.end}}&movie={{quote.movie}}"><button>Select</button></a>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
